<app-side-bar></app-side-bar>

<body>
    <section class="page-content">
        <section class="search-and-user">
            <div class="banner">
                <p style="align-items: center;">Vista de Usuarios</p>
            </div>

            <div class="admin-profile">
                <span class="greeting">Hello admin</span>
                <div class="notifications">
                    <svg>
                        <use xlink:href="#users"></use>
                    </svg>
                </div>
            </div>
        </section>

        <article class="container" style="width: 100%;">
            <div class="search-container">
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuarios">
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
                </ng-container>

                <!-- Imagen Column -->
                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef>Imagen</th>
                    <td mat-cell *matCellDef="let user">
                        <img [src]="'data:image/jpeg;base64,' + user.imagen" alt="Imagen del usuario"
                            class="user-image" />
                    </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let user">{{ user.nombre }}</td>
                </ng-container>

                <!-- Celular Column -->
                <ng-container matColumnDef="celularr">
                    <th mat-header-cell *matHeaderCellDef>Celular</th>
                    <td mat-cell *matCellDef="let user">{{ user.celularr }}</td>
                </ng-container>

                <!-- Correo Column -->
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let user">{{ user.correo }}</td>
                </ng-container>

                <!-- Rol Column -->
                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef>Rol</th>
                    <td mat-cell *matCellDef="let user">{{ user.rol }}</td>
                </ng-container>

                <!-- Estado Column -->
                <!-- Estado Column -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let user">
                        <div class="slideThree">
                            <input type="checkbox" id="slideThree{{user.id}}" name="check"
                                [checked]="user.estado === 'ACTIVO  '" (change)="toggleUserStatus(user)" />
                            <label for="slideThree{{user.id}}"></label>
                        </div>
                    </td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let user">
                        <div class="action-buttons">
                            <button mat-icon-button (click)="editUser(user)">
                                <mat-icon>edit</mat-icon> <!-- Icono de lápiz -->
                            </button>
                        </div>
                    </td>
                </ng-container>
                


                <!-- Header and Row Declarations -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons>
            </mat-paginator>


        </article>

    </section>
</body>