<app-side-bar></app-side-bar>

<body>
      <section class="page-content">
            <section class="search-and-user">
                  <div class="banner">
                        <p>COLLECTION</p>
                        <!-- <button class="close-banner" aria-label="Cerrar banner">&times;</button> -->
                  </div>

                  <div class="admin-profile">
                        <span class="greeting"> {{user}}</span>
                        <div class="notifications">
                              <span class="badge">1</span>
                              <svg>
                                    <use xlink:href="#users"></use>
                              </svg>
                        </div>
                  </div>
            </section>
            <section class="grid">
                  <article>
                        <div class="button-container">
                              <div class="button gradient1" (click)="redirectToAddProductSale()">
                                    <div class="icon">
                                      <i class="fas fa-cog"></i>
                                    </div>
                                    <span>Agregar venta</span>
                                  </div>                                  

                              <div class="button gradient2">
                                    <div class="icon">
                                          <i class="fas fa-home"></i>
                                    </div>
                                    <span>Agregar Producto</span>
                              </div>

                              <div class="button gradient3">
                                    <div class="icon">
                                          <i class="fas fa-power-off"></i>
                                    </div>
                                    <span>Agregar Comision</span>
                              </div>

                              <div class="button gradient4">
                                    <div class="icon">
                                          <i class="fas fa-star"></i>
                                    </div>
                                    <span>Agregar Precio</span>
                              </div>

                              <div class="button gradient5">
                                    <div class="icon">
                                          <i class="fas fa-plus"></i>
                                    </div>
                                    <span>***</span>
                              </div>

                              <div class="button gradient6">
                                    <div class="icon">
                                          <i class="fas fa-search"></i>
                                    </div>
                                    <span>***</span>
                              </div>

                              <div class="button gradient7">
                                    <div class="icon">
                                          <i class="fas fa-arrow-right"></i>
                                    </div>
                                    <span>***</span>
                              </div>

                              <div class="button gradient8">
                                    <div class="icon">
                                          <i class="fas fa-eye"></i>
                                    </div>
                                    <span>***</span>
                              </div>
                        </div>


                  </article>

            </section>

      </section>
</body>