<app-side-bar></app-side-bar>
<section class="page-content">
  <section class="search-and-user">
      <div class="banner">
          <p style="align-items: center;">Editar Usuario</p>
      </div>

      <div class="admin-profile">
          <span class="greeting">Hello admin</span>
          <div class="notifications">
              <svg>
                  <use xlink:href="#users"></use>
              </svg>
          </div>
      </div>
  </section>
<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
  <div class="image-upload-container">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen del usuario" class="image-preview" />
    <input type="file" id="file-input" (change)="onFileSelected($event)" accept="image/*" class="file-input" />
    <label class="file-input-label" for="file-input">Seleccionar imagen</label>
</div>

  
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" placeholder="Ingresa el nombre" />
    <mat-error *ngIf="editUserForm.get('nombre')?.invalid && editUserForm.get('nombre')?.touched">
      El nombre es requerido.
    </mat-error>
  </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Número de Celular</mat-label>
      <input matInput formControlName="celularr" placeholder="Ingresa el número de celular" />
      <mat-error *ngIf="editUserForm.get('celular')?.invalid && editUserForm.get('celular')?.touched">
        El celular es requerido y debe ser numérico.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="correo" placeholder="Ingresa el correo" />
      <mat-error *ngIf="editUserForm.get('correo')?.invalid && editUserForm.get('correo')?.touched">
        Debe ser un correo válido.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="ADMINISTRADOR">Administrador</mat-option>
        <mat-option value="USUARIO">Usuario</mat-option>
      </mat-select>
      <mat-error *ngIf="editUserForm.get('rol')?.invalid && editUserForm.get('rol')?.touched">
        El rol es requerido.
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button type="submit" color="primary">Actualizar Usuario</button>
    <button mat-button type="button" (click)="cancel()">Cancelar</button>
  </form>
  
