<div class="container">
    <!-- Título -->
    <div class="title">Registro de Afiliado</div>
  
    <div class="content">
      <!-- Imagen del Afiliado -->
      <div class="image-upload centered">
        <div class="image-container">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Vista previa de imagen" />
        </div>
        <input type="file" (change)="onFileSelected($event)" id="user_imagen" />
      </div>
  
      <!-- Formulario -->
      <form (ngSubmit)="onSubmit()" [formGroup]="addAfiliadoForm">
        <div class="user-details">
          <!-- Nombre -->
          <div class="input-box">
            <span class="details">Nombre</span>
            <input type="text" id="user_nombre" formControlName="user_nombre" placeholder="Ingresa tu nombre" required />
          </div>
  
          <!-- Contraseña -->
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="password" id="user_password" formControlName="user_password" placeholder="Ingresa tu contraseña" required />
          </div>
  
          <!-- Celular -->
          <div class="input-box">
            <span class="details">Celular</span>
            <input type="text" id="celular" formControlName="celular" placeholder="Ingresa tu celular" required />
          </div>
  
          <!-- Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" id="user_email" formControlName="user_email" placeholder="Ingresa tu correo" required />
          </div>
        </div>
  
        <!-- Botones -->
        <div class="button">
          <input type="submit" value="Agregar Afiliado">
        </div>
        <div class="button" style="margin-top: 10px;">
          <input type="button" value="Cancelar" (click)="cancel()">
        </div>
      </form>
    </div>
  </div>
  